$imageHeight: 618px;
$imageWidth: 570px;

.image {
  background-size: contain;
  background-repeat: no-repeat;
  width: $imageWidth;
  height: $imageHeight;
  transition: all .2s ease-in-out;

  @media screen and (max-width: 1120px) {
    width: $imageWidth/1.5;
    height: $imageHeight/1.5;
  }

  @media screen and (max-width: 768px) {
    width: $imageWidth/2;
    height: $imageHeight/2;
    margin-top: 40px;
  }
}