@import 'src/styles/basicStyle';

.navWrapper {
  position: fixed;
  top: 15px;
  width: 100%;

  @media screen and (max-width: 768px){
    top: 0;
    right: 0;
    width: 200px;
    padding: 20px;
    height: 100vh;
    box-shadow: -4px 0 12px rgba(0,0,0, 0.2);
    z-index: 2;
  }
}

.list {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
  margin: 0 0 0 20%;
  padding: 0;
  height: 30px;

  @media screen and (max-width: 768px){
    margin: 0;
    flex-direction: column;
    height: 350px;
  }
}

.listItem {
  text-decoration: none;
  transition-duration: .1s;

  &:hover {
    font-size: 1.4rem;
    transition-duration: .1s;
  }
}
