.contactsWrapper {
  align-self: center;
  margin-right: 20px;

  @media screen and (max-width: 768px) {
    align-self: stretch;
    margin: 40px 0;
  }
}

.contactsList {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    height: 32px;
  }
}

.imgLink {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebookImgLight {
  background-image: url('contacts_img/facebook_light_theme.png');
}
.facebookImgDark {
  background-image: url('contacts_img/facebook_dark_theme.png');
}

.instagramImgLight {
  background-image: url('contacts_img/instagram_light_theme.png');
}
.instagramImgDark {
  background-image: url('contacts_img/instagram_dark_theme.png');
}

.linkedinImgLight {
  background-image: url('contacts_img/linkedin_light_theme.png');
}
.linkedinImgDark {
  background-image: url('contacts_img/linkedin_dark_theme.png');
}

.githubImgLight {
  background-image: url('contacts_img/github_light_theme.png');
}
.githubImgDark {
  background-image: url('contacts_img/github_dark_theme.png');
}