.contactsWrapper {
  align-self: center;
  margin-right: 20px;

  @media screen and (max-width: 768px) {
    align-self: stretch;
    margin: 40px 0;
  }
}

.contactsList {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    height: 32px;
  }
}

.imgLink {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebookImg {
  background-image: url('contacts_img/facebook.png');
}

.instagramImg {
  background-image: url('contacts_img/instagram.png');
}

.linkedinImg {
  background-image: url('contacts_img/linkedin.png');
}

.githubImg {
  background-image: url('contacts_img/github.png');
}